
    body
    {
        background: #EEEEEE;
    }

    .App
    {
        padding: 50px;
        display: flex;
        justify-content: center;
    }

    .SuccessBox
    {
        text-align: center;
        width: 100%;
        min-height: 40px;
        line-height: 40px;
        background: #00FF94;
        margin-top: 20px;
        font-weight: bold;
	color: green;
    }

    .ErrorBox
    {
        text-align: center;
        width: 100%;
        min-height: 40px;
        line-height: 40px;
        background: #FF4400;
        margin-top: 20px;
        font-weight: bold;
	color: darkred;
    }

    .NeutralBox
    {
        text-align: center;
        width: 100%;
        min-height: 40px;
        line-height: 40px;
        background: #FFFFFF;
        margin-top: 20px;
        font-weight: bold;
	color: blue;
    }

    .Container
    {
        width: 100%;
        max-width: 800px;
    }

    .ButtonHeader
    {
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    .SelectorButton
    {
        text-align: center;
        font-weight: bold;
        border-top: 1px solid #DDDDDD;
        border-right: 1px solid #DDDDDD;
        border-left: 1px solid #DDDDDD;
        padding: 10px;
        background-color: #FFFFFF;
    }

    .SelectorButtonActive
    {
        border-bottom: 3px solid #FE7D2B;
        cursor: default;
    }
            
    .SelectorButtonInactive
    {
        border-bottom: 3px solid #FFFFFF;
        cursor: pointer;
    }

    .SelectorButtonLeft
    {
        float: left;
        width: 50%;
    }

    .GridViewRow
    {
        margin-top: 20px;
        margin-bottom: 20px;
        background: #FFFFFF;
        font-size: 16px;
        color: #727272;
        box-shadow: 2px 2px 2px #A0A0A0;
        width: 100%;
    }

    .GridViewRow table
    { 
        border-spacing: 0px;
        border-collapse: separate;
        margin-left: 15px;
        margin-bottom: 15px;
        padding-top: 15px;
    }

    .GridViewRow td
    { 
        padding: 0px;
        margin-left: 15px;
    }
 
    .GridViewRow hr
    {
        border: 0px;
        border-top: 1px solid #EEEEEE;
    }

    .GridViewRow p
    {
        padding: 0px;
        margin: 0px 0px 0px 15px;
        line-height: 25px;
    }

    .GridViewRow div
    {
        padding: 15px;
    }

    .GridViewRow a
    {
        color: #FE8B41;
        text-decoration: none;
    }

    .GridViewRow i
    {
        margin-right: 8px;
        color: black;
    }

    .GridViewRow h4
    {
        font-weight: bold;
        line-height: 10px;
        padding-top: 15px;
    }

    .GridViewRow h5
    {
        margin: 15px 0px 0px 15px;
        font-size: 16px;
    }

    .GridViewRowCircle
    {
        max-width: 45px;
        display: inline-block; 
        background: #0094FF; 
        width: 20px; 
        height: 20px; 
        border-radius: 30px;
        line-height: 20px;
        font-size: 23px;
        font-weight: bold;
        color: white;
        text-align: center;
        vertical-align: middle;
    }
            
    .GridViewRowClear
    {
        clear: both;
    }

    .GridViewDescription
    {
        font-size: 14px;
    }

    .GridViewFloatLeft
    {
        float: left;
    }

    .GridViewRowBold
    {
        font-weight: bold;
    }

    .GridViewRowNormal
    {
        font-weight: normal;
    }

    .GridViewAcceptButton
    {
        border-radius: 3px;
        text-align: center;
        margin: 7px 0px 12px 15px;
        background: #FE7D2B;
        width: 80px;
        line-height: 10px;
        padding: 0px;
        border-bottom: 3px solid #CB6422;
        display: table;
        overflow: hidden;
        cursor: pointer;
    }

    .GridViewAcceptButton h3
    {
        color: #FFFFFF;
        font-size: 18px;
        font-weight: normal;
        display: table-cell;
        vertical-align: middle;
    }

    .GridViewDeclineButton
    {
        border-radius: 3px;
        text-align: center;
        margin: 7px 0px 12px 15px;
        background: #EEEEEE;
        width: 80px;
        line-height: 10px;
        padding: 0px;
        border-bottom: 3px solid #BEBEBE;
        display: table;
        overflow: hidden;
        cursor: pointer;
    }

    .GridViewDeclineButton h3
    {
        color: #555555;
        font-size: 18px;
        font-weight: normal;
        display: table-cell;
        vertical-align: middle;
    }

    .GridViewMargin1
    {
        margin: 0px 10px 10px 15px;
        padding: 0px;
    }

    .GridViewMargin2
    {
        margin: 0px 10px 0px 15px;
        padding: 0px;
    }
